<!-- Old show code:

<tbody>
  <tr>
    <td><%= @song.title %></td>
    <td><%= @song.audio.to_s %></td>
    <td><%= @song.lyric %></td>
    <td><%= @song.chart %></td>
    <td><%= @song.tablature %></td>
    <td><%= link_to "Edit", edit_album_url(@song.id) %></td>
    <td><%= link_to "Delete", destroy_album_url(@song.id), :method => :delete %></td>
  </tr>
</tbody>

ALBUMS
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col">Cover Art</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @album.title %></td>
      <td><%= @album.date.strftime("%Y (%B %e)")  %></td>
      <td><%= @album.cover_art %></td>
      <td><%= link_to "Edit", edit_album_url(@album.id) %></td>
      <td><%= link_to "Delete", destroy_album_url(@album.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

-->