<% blogs.each do |blog| %>

<table>
  <tbody>
    <tr>
      <th><%= link_to "#{blog.title}", blog_url(blog.id) %></th>
      <td><%= link_to "Edit", edit_blog_url(blog.id) %></td>
      <td><%= link_to "Delete", destroy_blog_url(blog.id), :method => :delete %></td>
    </tr>
    <tr>
      <td><%= blog.category %></td>
    </tr>
  </tbody>
</table>
<p><%= blog.body %></p>
<% end %>