    <%= form_for @blog do |f| %>
    <tr><td><%= f.label "Title" %></td></tr>
    <tr><td><%= f.text_field :title %></td></tr>
    <tr><td><%= f.label "Category" %></td></tr>
    <tr><td><%= f.text_field :category %></td>
    <tr><td><%= f.label "Body" %></td></tr>
    <tr><td><%= f.text_area :body %></td>
    <tr><td><%= f.submit "Submit" %></td></tr>
    <% end %>

