<h1>Edit the blog, <%= @blog.title %></h1>

<%= flash[:blog_not_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">author</th>
    </tr>
  </thead>
  <tbody>
    
    <%= render "form" %>
    
    <tr>
      <td><%= link_to "Delete", destroy_blog_url(@blog.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Blog Post", new_blog_url %></p>
<p><%= link_to "Blog", blogs_url %></p>
<p><%= link_to "Home", home_url %></p>