<h1>Edit <%= @blog.title %></h1>

<%= flash[:blog_not_updated] %>

<table>
  <tbody>
    <%= render "form" %>
    <% if @bandmember %>
    <tr>
      <td><%= link_to "Delete", destroy_blog_url(@blog.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @bandmember %>
  <p><%= link_to "New Blog Post", new_blog_url %></p>
<% end %>

<p><%= link_to "Blog", blogs_url %></p>
<p><%= link_to "Home", home_url %></p>