<h1>All Blogs</h1>

<%= flash[:blog_destroyed] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">author</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
    <tr>
      <td><%= link_to blog.title, blog_url(blog.id) %></td>
      <td><%= blog.body %></td>
      <td><%= blog.author %></td>
      <td><%= link_to "Edit", edit_blog_url(blog.id) %></td>
      <td><%= link_to "Delete", destroy_blog_url(blog.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><font color=red, size=4px>BUTTON: DELETE BLOG</font></p> <!-- this shows in green? -->

<p><%= link_to "Post New Blog Entry", new_blog_url %></p>
<%= render "/home/resource_form" %>