<h1>New Blog Post</h1>

<%= flash[:blog_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<table>
  <tbody>
    <%= form_tag(blogs_url) do %>
    <tr>
      <td><%= label_tag :title %></td>
      <td><%= text_field_tag :title %></td>
      
      <td><%= label_tag :body %><td> 
      <td><%= text_field_tag :body %></td>
      
      <td><%= label_tag :series %></td>
      <td><%= text_field_tag :series %></td>
      
      <td><%= submit_tag "Submit" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Blog", blogs_url %></p>
<p><%= link_to "Home", home_url %></p>