<p><%= flash[:blog_created] %></p>
<p><%= flash[:blog_updated] %></p>

<%= render "blog_form", :blogs => [@blog] %>

<p>COMMENTS</p>
<!-- <ul>
  comments.each do |comment| 
  <li> comment.user(:avatar) | comment.body </li>
</ul> -->

<p><%= link_to "New Blog Post", new_blog_url %></p>
<p><%= link_to "Blog", blogs_url %></p>
<p><%= link_to "Home", home_url %></p>