<h1><%= @blog.title %> </h1>

<%= flash[:blog_created] %>
<%= flash[:blog_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Series</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @blog.title %></td>
      <td><%= @blog.body %></td>
      <td><%= @blog.series %></td>
      <td><%= link_to "Edit", edit_blog_url(@blog.id) %></td>
      <td><%= link_to "Delete", destroy_blog_url(@blog.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Blog Post", new_blog_url %></p>
<p><%= link_to "Blog", blogs_url %></p>
<p><%= link_to "Home", home_url %></p>