<% articles.each do |article| %>

  <div class="form">

    <div class="element">
      <%= link_to "#{article.title}", article_url(article.id) %>
    </div>

    <% if @bandmember %>
    <div class="element">
        <%= link_to "Edit", edit_article_url(article.id) %>
        <%= link_to "Delete", destroy_article_url(article.id), :method => :delete %>
    </div>
    <% end  %>

    <p><%= article.body %></p>
  
    <div class="element">
        <%= link_to "Comment", edit_article_url(article.id) %>
    </div>

  </div>

<% end %>