<h1>Edit <%= @user.name %>'s Profile</h1>

<%= flash[:user_not_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Confirm</th>
    </tr>
  </thead>
  <tbody>
    
    <%= render "form" %>
    
    <tr>
      <td><%= link_to "Delete", destroy_user_url(@user.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "Create Profile", new_user_url %></p>
<p><%= link_to "All Users", users_url %></p>
<p><%= link_to "Home", home_url %></p>