<h1>All Users</h1>

<%= flash[:user_destroyed] %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= @users.each do |user| %>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.category %></td>
        <% if user.category == "Bandmember" %>
          <td><%= link_to "Edit", edit_user_url(user.id) %></td>
          <td><%= link_to "Delete", destroy_user_url(user.id), :method => :delete %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table> 

<p><font color=red, size=4px>BUTTON: DELETE ALL FANS</font></p> <!-- this shows in green? -->

<p><%= link_to "Create a User Profile", new_user_url %></p>
