<h1>All Users</h1>

<%= flash[:user_destroyed] %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to "#{user.name}", user_url(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.category %> since <%= user.created_at.strftime("%Y") %></td>
      <td><%= link_to "Edit", edit_user_url(user.id) %></td>
      <td><%= link_to "Delete", destroy_user_url(user.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table> 

<p><font color=red, size=4px>BUTTON: DELETE ALL FANS</font></p> <!-- this shows in green? -->

<p><%= link_to "Create a User Profile", new_user_url %></p>
