<%= flash[:user_created] %>
<%= flash[:user_updated] %>

<% if params[:id] == @current_user.id %>
  <h1>Your Profile!</h1>
<% else %>
  <h1><%= @user.name %>'s Profile</h1>
<% end %>

<br />

<div class="item">
  <%= @user.email %><br />
  <%= @user.role %> since <%= @user.created_at.strftime("%l:%M%P, %A %B %d, %Y") %>
  <%= "COMMENTS PLACEHOLDER" %>
  <%= "REMIXES PLACEHOLDER" %>
  <%= "BOOTLEGS PLACEHOLDER" %>
  <%= "VIDEOS PLACEHOLDER" %>
  <%= "PICTURES PLACEHOLDER" %>  
</div>

<div class="datachange">
  <%= link_to "Edit", edit_user_url(@user.id) %>
  <%= link_to "Delete", destroy_user_url(@user.id), :method => :delete %>
</div>

<p><%= link_to "The Birthdays Home", home_url %></p>