<h1>Profile</h1>

<%= flash[:user_created] %>
<%= flash[:user_updated] %>

<h2><%= @user.name %></h2>

<ul>
  <li><%= @user.email %></li>
  <li><%= @user.role %> since <%= @user.created_at.strftime("%l:%M%P, %A %B %d, %Y") %></li>
</ul>

<table>
  <tbody>
    <tr>
      <td><%= link_to "Edit", edit_user_url(@user.id) %></td>
      <td><%= link_to "Delete", destroy_user_url(@user.id), :method => :delete %></td>      
    </tr>
  </tbody>
</table>

<p><%= link_to "The Birthdays Home", home_url %></p>