<p><%= link_to "Gigs", gigs_url %>            </p>
<p><%= link_to "Venues", venues_url %>        </p>
<p><%= link_to "Supporting Acts", acts_url %> </p>
<p><%= link_to "Albums", albums_url %>        </p>
<p><%= link_to "Songs", songs_url %>          </p>
<p><%= link_to "Users", users_url %>            </p>
<p><%= link_to "Contacts", contacts_url %>    </p>
<p><%= link_to "Blog", blogs_url %>           </p>
<p><%= link_to "Tags", tags_url %>           </p>