<!-- Used in edit and new -->

<%= form_for @song do |f| %>

    <tr>
      <td><%= f.label :title %></td>
    </tr>
    <tr>
      <td><%= f.text_field :title %></td>      
    </tr>

    <tr>
      <td><%= f.label :recording, "Audio" %></td>
    </tr>
    <tr>
      <td><%= f.file_field :recording %> or url <%= f.text_field :remote_recording_url %></td>
    </tr>
      
    <tr>
      <td><%= f.label :album_id %></td>
    </tr>    
    <tr>
      <td><%= f.collection_select :album_id, Album.all, :id, :title, include_blank: true %></td>
      <!-- <%#= f.collection_select :venue_id, Venue.all, :id, :name %> -->
    </tr>

    <tr>
      <td><%= f.label :lyric %></td>
    </tr>
    <tr>
      <td><%= f.text_area :lyric %></td>
    </tr>
    
    <tr>
      <td><%= f.label :chart %></td>
    </tr>
    <tr>
      <td><%= f.text_area :chart %></td>
    </tr>
    
    <tr>
      <td><%= f.label :tablature, "Tabs" %></td>
    </tr>
    <tr>
      <td><%= f.text_area :tablature %></td>
    </tr>
    
    <tr>
      <td><%= f.submit "Submit" %></td>
    </tr>

<% end %>