<h1>Edit <%= @song.title %></h1>

<%= flash[:song_not_updated] %>

<table>
  <thead>
    <td>Title</td>
    <td>Audio</td>
    <td>Lyric</td>
    <td>Chart</td>
    <td>Tablature</td>
  </thead>
  <tbody>
    <%= form_tag(song_url(@song.id), :method => :put) do %>
    <tr>
      <td><%= text_field_tag :title, @song.title %></td>
      <td><%= text_field_tag :audio, @song.audio %></td>
      <td><%= text_field_tag :lyric, @song.lyric %></td>
      <td><%= text_field_tag :chart, @song.chart %></td>
      <td><%= text_field_tag :tablature, @song.tablature %></td>
      <td><%= submit_tag "Submit" %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to "Delete", destroy_song_url(@song.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Song", new_song_url %></p>
<p><%= link_to "All Songs", songs_url %></p>
<p><%= link_to "Home", home_url %></p>