<h1>Songs to Stream Free</h1>

<%= flash[:song_created] %>
<%= flash[:song_destroyed] %>

<%= render "songs/songs_list", :songs => @songs %>

<p><font color=red, size=4px>BUTTON: DELETE ALL SONGS</font></p> <!-- this shows in green? -->

<p><%= link_to "Upload New Song", new_song_url %></p>
<p><%= link_to "Home", home_url %></p>
<p><%= link_to "Gigs", gigs_url %></p>
<p><%= link_to "Venues", venues_url %></p>
<p><%= link_to "Supporting Acts", acts_url %></p>
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Songs", songs_url %></p>
<p><%= link_to "Fans", fans_url %></p>
<p><%= link_to "Blog", blogs_url %></p>



