<h1>Songs to Stream Free</h1>

<%= flash[:song_created] %>
<%= flash[:song_destroyed] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Audio</th>
      <th scope="col">Lyric</th>
      <th scope="col">Chart</th>
      <th scope="col">Tablature</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_url(song.id) %></td> 
      <td><%= song.audio %></td>
      <td><%= song.lyric %></td>
      <td><%= song.chart %></td>
      <td><%= song.tablature %></td>
      <td><%= link_to "Edit", edit_song_url(song.id) %> </td>
      <td><%= link_to "Delete", destroy_song_url(song.id), :method => :delete %></td>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><font color=red, size=4px>BUTTON: DELETE ALL SONGS</font></p> <!-- this shows in green? -->

<p><%= link_to "Upload New Song", new_song_url %></p>
<p><%= link_to "Home", home_url %></p>
<p><%= link_to "Gigs", gigs_url %></p>
<p><%= link_to "Venues", venues_url %></p>
<p><%= link_to "Supporting Acts", acts_url %></p>
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Songs", songs_url %></p>
<p><%= link_to "Fans", fans_url %></p>
<p><%= link_to "Blog", blogs_url %></p>



