<h1>Upload a Song</h1>

<%= flash[:song_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<%= form_tag(songs_url) do %>
<ul>
  <li><%= label_tag :title %><%= text_field_tag :title %></li>
  <li><%= label_tag :audio %><%= text_field_tag :audio %></li>
  <li><%= label_tag :lyric %><%= text_field_tag :lyric %></li>
  <li><%= label_tag :chart %><%= text_field_tag :chart %></li>
  <li><%= label_tag :tablature %><%= text_field_tag :tablature %></li>
  <li><%= submit_tag "Submit" %></li>
</ul>
<% end %>

<p><%= link_to "All Songs", songs_url %></p>