<h1><%= @song.title %> details</h1>

<%= flash[:song_created] %>
<%= flash[:song_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Audio</th>
      <th scope="col">Lyric</th>
      <th scope="col">Chart</th>
      <th scope="col">Tablature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @song.title %></td>
      <td><%= @song.audio %></td>
      <td><%= @song.lyric %></td>
      <td><%= @song.chart %></td>
      <td><%= @song.tablature %></td>      
      <td><%= link_to "Edit", edit_song_url(@song.id) %></td>
      <td><%= link_to "Delete", destroy_song_url(@song.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "Upload a New Song", new_song_url %></p>
<p><%= link_to "All Songs", songs_url %></p>
<p><%= link_to "Home", home_url %></p>