<h1>Edit <%= @venue.name %></h1>

<%= flash[:venue_not_updated] %>

<%= render "form" %>

<table>
  <tbody>
    <tr>
      <td><%= link_to "Delete", destroy_venue_url(@venue.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Venue", new_venue_url %></p>
<p><%= link_to "All Venues", venues_url %></p>
<p><%= link_to "Home", home_url %></p>