<h1><%= @venue.name %>'s Profile</h1>

<%= flash[:venue_created] %>
<%= flash[:venue_updated] %>

<%= render "venue_form", :venues => [@venue] %>

<p><%= link_to "New Venue", new_venue_url %></p>
<p><%= link_to "Venues", venues_url %></p>
<p><%= link_to "Home", home_url %></p>