<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.each do |contact| %>
    <tr>
      <td><%= link_to "#{contact.name}", contact_url(contact.id) %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td>Role with act or venue</td>
      <td><%= link_to "Edit", edit_contact_url(contact.id) %></td>
      <td><%= link_to "Delete", destroy_contact_url(contact.id), confirm: "You sure 'bout that?", :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
