<h1><%= @fan.name %>'s Profile</h1>

<%= flash[:fan_created] %>
<%= flash[:fan_updated] %>

<table>
  <thead>
    <td>Name</td>
    <td>Email</td>
    <td>Password</td>
  </thead>
  <tbody>
    <tr>
      <td><%= @fan.name %></td>
      <td><%= @fan.email %></td>
      <td><%= @fan.password %></td>
      <td><%= link_to "Edit", edit_fan_url(@fan.id) %></td>
      <td><%= link_to "Delete", destroy_fan_url(@fan.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "All Fans", fans_url %></p>