<h1><%= @fan.name %>'s Profile</h1>

<%= flash[:fan_created] %>
<%= flash[:fan_updated] %>

<%= render "fan_form", :fans => [@fan] %>

<p><%= link_to "New Fan", new_fan_url %></p>
<p><%= link_to "Fans", fans_url %></p>
<p><%= link_to "Home", home_url %></p>