

<%= form_for @album, :html => {:multipart => true} do |f| %>

  <tr>
    <th><%= f.label :title, "Title" %></th>
    <td><%= f.text_field :title %></td>   
  </tr>

  <tr>
    <th><%= f.label :date, "Release Date" %></th>
    <td><%= f.text_field :date %></td>
  </tr>

  <tr>
    <th><%= f.label :cover_art, "Cover Art" %></th>
    <td><%= f.file_field :cover_art %> or url <%= f.text_field :remote_cover_art_url %></td>  
  </tr>

  <tr>
    <td><%= f.submit "Submit" %></td>
  </tr>

<% end %>
