<h1>Edit <%= @album.title %> Detail</h1>

<%= flash[:album_not_updated] %>

<table>
  <thead>
    <td>Title</td>
    <td>Date</td>
    <td>Cover Art</td>
  </thead>
  <tbody>
    <%= form_tag(album_url(@album.id), :method => :put) do %>
    <tr>
      <td><%= text_field_tag :title, @album.title %></td>
      <td><%= text_field_tag :date, @album.date %></td>
      <td><%= text_field_tag :cover_art, @album.cover_art %></td>
      <td><%= submit_tag "Submit" %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to "Delete", destroy_album_url(@album.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Album", new_album_url %></p>
<p><%= link_to "All Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>