<h1>All Albums</h1>

<%= flash[:album_destroyed] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col">Cover Art</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.title, album_url(album.id) %></td>
      <td><%= album.date.strftime("%Y (%B %e)") %></td>
      <td><%= album.cover_art %></td>
      <td><%= link_to "Edit", edit_album_url(album.id) %></td>
      <td><%= link_to "Delete", destroy_album_url(album.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><font color=red, size=4px>BUTTON: DELETE ALL ALBUMS</font></p> <!-- this shows in green? -->

<p><%= link_to "Add New Album", new_album_url %></p>
<p><%= link_to "Home", home_url %></p>
<p><%= link_to "Gigs", gigs_url %></p>
<p><%= link_to "Supporting Acts", acts_url %></p>
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Songs", songs_url %></p>
<p><%= link_to "Blog", blogs_url %></p>
<p><%= link_to "Fans", fans_url %></p>
