<h1>New Album</h1>

<%= flash[:album_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<table>
  <tbody>
    <tr>
    <%= form_tag(albums_url) do %>
      <td><%= label_tag :title %></td>
      <td><%= text_field_tag :title %></td>

      <td><%= label_tag :date %><td> 
      <td><%= text_field_tag :date, "Date [YEAR-MO-DY-HR:MN]:" %></td>
      
      <td><%= label_tag :cover_art, "Cover Art" %></td>
      <td><%= text_field_tag :cover_art %></td>
      
      <td><%= submit_tag "Submit" %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>