<h1>New Album</h1>

<%= flash[:album_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<table>
  <thead>
    <td>Title</td>
    <td>Date</td>
    <td>Cover Art</td>
  </thead>
  <tbody>
    <tr>
    <%= form_for @album do |x| %>
      <td><%= x.text_field_tag :title %></td>
      <td><%= x.text_field_tag :date, "YEAR-MO-DY-HR:MN" %></td>
      <td><%= x.text_field_tag :cover_art %></td>
      <td><%= x.submit_tag "Submit" %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>

