<%= flash[:album_created] %>
<%= flash[:album_updated] %>

<table>
  <tbody>
    <%= render "albums", :albums => [@album] %>
    <%= render "songs/songs", :songs => @album.songs %> 
  </tbody>
</table>

<ul>
  <li><%= link_to "New Album", new_album_url %></li>
  <li><%= link_to "All Albums", albums_url %>  </li>
  <li><%= link_to "Home", home_url %>          </li>
</ul>