<h1><%= @album.title %> Details</h1>

<%= flash[:album_created] %>
<%= flash[:album_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col">Cover Art</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @album.title %></td>
      <td><%= @album.date.strftime("%Y (%B %e)")  %></td>
      <td><%= @album.cover_art %></td>
      <td><%= link_to "Edit", edit_album_url(@album.id) %></td>
      <td><%= link_to "Delete", destroy_album_url(@album.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Album", new_album_url %></p>
<p><%= link_to "All Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>