<h1><%= @album.title %> Details</h1>

<%= flash[:album_created] %>
<%= flash[:album_updated] %>

<%= render "album_form", :albums => [@album] %>

<%= render "songs/song_form", :songs => @album.songs %>

<p><%= link_to "New Album", new_album_url %></p>
<p><%= link_to "All Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>