<h1>Edit <%= @tag.name %></h1>

<%= flash[:tag_not_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    
    <%= render "form" %>
    
    <tr>
      <td><%= link_to "Delete", destroy_tag_url(@tag.id), confirm: "You sure 'bout that?", :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Tag", new_tag_url %></p>
<p><%= link_to "All Tags", tags_url %></p>
<p><%= link_to "Home", home_url %></p>