<h1><%= @tag.name %>'s Profile</h1>

<%= flash[:tag_created] %>
<%= flash[:tag_updated] %>

<%= render "tags", :tags => [@tag] %>

<p><%= link_to "New Tag", new_tag_url %></p>
<p><%= link_to "Tags", tags_url %></p>
<p><%= link_to "Home", home_url %></p>