<% @past_gigs.each do |gig| %>
<tr>
    <td><%= link_to gig.date.strftime("%B %e, %Y"), gig_url(gig.id) %></td> 
    <td><%= gig.venue %></td>
  <% if @bandmember %>
    <% if gig.cover %>
      <td>$<%= gig.cover %></td> 
      <% else %>
      <td></td>
    <% end %>
    <td><%= link_to "Edit", edit_gig_url(gig.id) %> </td>
    <td><%= link_to "Delete", destroy_gig_url(gig.id), :method => :delete %></td>
  <% end %>
</tr>
<% end %>