<h1>Edit <%= @gig.venue %> gig on <%= @gig.date %></h1>

<%= flash[:gig_not_updated] %>

<table>
  <tbody>

    <%= render "form" %>

    <tr>
      <td><%= link_to "Delete", destroy_gig_url(@gig.id), confirm: "You sure 'bout that?", :method => :delete %></td>
    </tr>

  </tbody>
</table>

<p><%= link_to "New Gig", new_gig_url %></p>
<p><%= link_to "All Gigs", gigs_url %></p>
<p><%= link_to "Home", home_url %></p>