<h1>Edit <%= @gig.venue %> gig on <%= @gig.date %></h1>

<%= flash[:gig_not_updated] %>

<table>
  <thead>
    <td>Date</td>
    <td>Venue</td>
    <td>Street</td>
    <td>City</td>
    <td>ZIP</td>
    <td>Cover</td>
  </thead>
  <tbody>
    <%= form_tag(gig_url(@gig.id), :method => :put) do %>
    <tr>
      <td><%= text_field_tag :date, @gig.date %></td>
      <td><%= label_tag :venue %></td> 
      <td><%= text_field_tag :street, @gig.street %></td>
      <td><%= text_field_tag :city, @gig.city %></td>
      <td><%= text_field_tag :zipcode, @gig.zipcode %></td>
      <td><%= text_field_tag :ticket_price, "$"+@gig.ticket_price %></td>
      <td><%= submit_tag "Submit" %></td>   
    </tr>
    <% end %>
    <tr>
      <td><%= link_to "Delete", destroy_gig_url(@gig.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Gig", new_gig_url %></p>
<p><%= link_to "All Gigs", gigs_url %></p>
<p><%= link_to "Home", home_url %></p>