<h1>Upcoming Gigs</h1>

<%= flash[:gig_destroyed] %>

<table>
  <thead>
    <tr>
     <th scope="col">Date</th>
     <th scope="col">Venue</th>
     <th scope="col">Cover</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_gigs.each do |gig| %>
    <tr>
      <td><%= link_to gig.date.strftime("%B %e, %Y (%A, %l:%M%P)"), gig_url(gig.id) %></td> 
      <!-- January 21, 2012 (Monday) -->
      <td>VENUE PLACEHOLDER</td>
      <td>$<%= gig.cover %></td> 
      <td><%= link_to "Edit", edit_gig_url(gig.id) %> </td>
      <td><%= link_to "Delete", destroy_gig_url(gig.id), :method => :delete %></td>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1>Past Gigs</h1>

<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Venue</th>
      <th scope="col">Cover</th>
    </tr>
  </thead>
  <body>
    <% @past_gigs.each do |gig| %>
    <tr>
      <td><%= link_to gig.date.strftime("%B %e, %Y"), gig_url(gig.id) %></td> 
      <td>VENUE PLACEHOLDER</td>
      <td>$<%= gig.cover %></td> 
      <td><%= link_to "Edit", edit_gig_url(gig.id) %> </td>
      <td><%= link_to "Delete", destroy_gig_url(gig.id), :method => :delete %></td>
      </td>
    </tr>
    <% end %>
  </body>
</table>

<p><font color=red, size=4px>BUTTON: DELETE ALL GIGS</font></p> <!-- this shows in green? -->

<p><%= link_to "Post New Gig", new_gig_url %></p>
<p><%= link_to "Home", home_url %></p>
<p><%= link_to "Gigs", gigs_url %></p>
<p><%= link_to "Venues", venues_url %></p>
<p><%= link_to "Supporting Acts", acts_url %></p>
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Songs", songs_url %></p>
<p><%= link_to "Fans", fans_url %></p>
<p><%= link_to "Blog", blogs_url %></p>
