<h1>Upcoming Gigs</h1>

<%= flash[:gig_destroyed] %>

<table>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Venue</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">ZIP</th>
      <th scope="col">Cover</th>
    </tr>
    <% @upcoming_gigs.each do |gig| %>
    <tr>
      <td><%= link_to gig.date.strftime("%B %e, %Y (%A, %l:%M%P)"), gig_url(gig.id) %></td> 
      <!-- January 21, 2012 (Monday) -->
      <td><%= gig.venue %></td>
      <td><%= gig.street %></td>
      <td><%= gig.city %></td>
      <td><%= gig.zipcode %></td>
      <td>$<%= gig.ticket_price %></td> 
      <td><%= link_to "Edit", edit_gig_url(gig.id) %> </td>
      <td><%= link_to "Delete", destroy_gig_url(gig.id), :method => :delete %></td>
      </td>
    </tr>
    <% end %>
</table>

<h1>Past Gigs</h1>

<table>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Venue</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">ZIP</th>
      <th scope="col">Cover</th>
    </tr>
    <% @past_gigs.each do |gig| %>
    <tr>
      <td><%= link_to gig.date.strftime("%B %e, %Y"), gig_url(gig.id) %></td> 
      <td><%= gig.venue %></td>
      <td><%= gig.street %></td>
      <td><%= gig.city %></td>
      <td><%= gig.zipcode %></td>
      <td>$<%= gig.ticket_price %></td> 
      <td><%= link_to "Edit", edit_gig_url(gig.id) %> </td>
      <td><%= link_to "Delete", destroy_gig_url(gig.id), :method => :delete %></td>
      </td>
    </tr>
    <% end %>
</table>

<p><%= link_to "Post New Gig", new_gig_url %></p>
<p><%= link_to "Songs", songs_url %></p>
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Fans", fans_url %></p>
<p><%= link_to "Home", home_url %></p>