<h1>Post a Gig</h1>

<%= flash[:gig_not_created] %>

<p>Please fill in the following fields, and then submit:</p>
<table>
  <thead>
    <td>Date</td>
    <td>Venue</td>
    <td>Street</td>
    <td>City</td>
    <td>ZIP</td>
    <td>Cover</td>
  </thead>
  <tbody>
    <tr>
    <%= form_tag(gigs_url) do %>
      <td><%= text_field_tag :date, "YEAR-MO-DY-HR:MN"%></li>
      <td><%= text_field_tag :venue %></li>
      <td><%= text_field_tag :street %></li>
      <td><%= text_field_tag :city %></li>
      <td><%= text_field_tag :zipcode %></li>
      <td><%= text_field_tag :ticket_price, "$" %></li>
      <td><%= submit_tag "Submit" %></li>
    <% end %>
    </tr>
  </tbody>
</table>

<p><%= link_to "All Gigs", gigs_url %></p>
<p><%= link_to "Home", home_url %></p>