<h1><%= @gig.venue %> | <%= @gig.date.strftime("%B %e, %Y") %></h1>

<%= flash[:gig_created] %>
<%= flash[:gig_updated] %>

<table>
  <thead>
    <td>Date</td>
    <td>Venue</td>
    <td>Street</td>
    <td>City</td>
    <td>Zipcode</td>
    <td>Cover</td>
  </thead>
  <tbody>
    <tr>
      <td><%= @gig.date.strftime("%B %e, %Y (%A, %l:%M%P)") %></td>
      <td><%= @gig.venue %></td>
      <td><%= @gig.street %></td>
      <td><%= @gig.city %></td>
      <td><%= @gig.zipcode %></td>
      <td>$<%= @gig.ticket_price %></td>
      <td><%= link_to "Edit", edit_gig_url(@gig.id) %></td>
      <td><%= link_to "Delete", destroy_blog_url(@gig.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Gig", new_gig_url %></p>
<p><%= link_to "All Gigs", gigs_url %></p>
<p><%= link_to "Home", home_url %></p>