<h1><%= @gig.venue %> | <%= @gig.date.strftime("%B %e, %Y") %></h1>

<%= flash[:gig_created] %>
<%= flash[:gig_updated] %>

<table>
  <tbody>
    
    <%= render "gig_form", :gigs => [@gig] %>
    
  </tbody>
</table>

<p><%= link_to "New Gig", new_gig_url %></p>
<p><%= link_to "All Gigs", gigs_url %></p>
<p><%= link_to "Home", home_url %></p>