<!DOCTYPE html>
<html>
  <head>
    <title>the birthdays</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<!-- div -->
  <div class="header_links">
    <table>
      <thead>
        <tr>
          <td><%= link_to "Concerts", gigs_url %>     </td>
          <td><%= link_to "Music", albums_url %>      </td>
          <td>History                                 </td>
          <td><%= link_to "Blog", blogs_url %>        </td>
          <td id="notice">
            <%= notice %>
            <% if session[:user_id] %>
            	<%= link_to 'Sign Out', session_url, :method => 'delete' %>
            <% else %>
            	<%= link_to 'Sign Up', new_user_url %> or <%= link_to 'Sign In', new_session_url %>
            <% end %>
          </td>
          <td>Partner Up!                            </td>
        </tr>
      </thead>
    </table>
  </div>
<!-- /div -->
    
  <%= yield %>
    
<!-- div --> 
  <div class="gutter_links">
    <table>
      <thead>
        <tr>
          <td>Contact</td>
        </tr>
      </thead>
    </table>
  </div>
<!-- /div -->
   
  </body>
</html>
