<% if @bandmember %>

    <%= flash[:act_not_updated] %>

    <h1>Edit <%= @act.name %></h1>
     
    <%= render "form" %>

    <div class="element">
      <%= link_to "Delete", destroy_act_url(@act.id), :method => :delete %> 
    </div>

    <p><%= link_to "New Act", new_act_url %></p>
    <p><%= link_to "All Acts", acts_url %></p>
    <p><%= link_to "Home", home_url %></p>

  <% else %>

    <% redirect_to :back %>

<% end %>