<h1>All Acts</h1>

<%= flash[:act_destroyed] %>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <% @acts.each do |act| %>
    <tr>
      <td><%= link_to "#{act.name}", act_url(act.id) %></td>
      <td><%= act.url %></td>
      <td><%= link_to "Edit", edit_act_url(act.id) %></td>
      <td><%= link_to "Delete", destroy_act_url(act.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><font color=red, size=4px>BUTTON: DELETE ALL ACTS</font></p> <!-- this shows in green? -->

<p><%= link_to "Add Act", new_act_url %></p>