<h1><%= @act.name %></h1>

<%= flash[:act_created] %>
<%= flash[:act_updated] %>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @act.name %></td>
      <td><%= @act.url %></td>
      <td><%= link_to "Edit", edit_act_url(@act.id) %></td>
      <td><%= link_to "Delete", destroy_act_url(@act.id), :method => :delete %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "New Act", new_act_url %></p>
<p><%= link_to "Acts", acts_url %></p>
<p><%= link_to "Home", home_url %></p>