<% if @bandmember %>

  <%= flash[:act_created] %>
  <%= flash[:act_updated] %>

  <h1><%= @act.name %></h1>

  <%= render "acts", :acts => [@act] %>

  <p><%= link_to "New Act", new_act_url %></p>
  <p><%= link_to "Acts", acts_url %></p>
  <p><%= link_to "Home", home_url %></p>

<% else %>

  <% redirect_to :back %>

<% end %>